<div id="pagina">
  <div id="header">
    <h1>Emprego Já</h1>
  </div>
  <div id="menu">
    <%= link_to "Empregos", new_job_path %>
    <%= link_to "Empresa", new_company_path%>
  </div>
  <div id="conteudo">
    <% @jobs.each do |j|%>
      <div id="first-child">
        <% if j.recent? %>
          Novidade
        <% end %>
      </div>

      <ul>
        <%unless j.expired? %>
          <h1><%=link_to j.title, job_path(j.id)%></h1>
        <% end %>
        <li><%=j.company.name%></li>
        <li><%=j.location%></li>

        <%if j.featured? %>
          <li><strong><%='Destaque'%></strong></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div id="lateral">

    <ul><strong>Empresa</strong>
      <% @companies.each do |company|%>
        <li><%= link_to company.name, company%></li>
      <% end%>
    </ul>

    <ul><strong>Categorias</strong>
      <% @categories.each do |ct|%>
        <li><%= link_to ct.name, category_path(ct.id) %></li>
      <% end%>
    </ul>

  </div>
</div>
