<h1>Emprego Já</h1>
  <% @jobs.each do |j|%>
    <h1><%=link_to j.title, job_path(j.id)%></h1>
    <p><%=j.company.name%></p>
    <p><%=j.location%></p>
    <%if j.featured? %>
      <strong><%='Destaque'%></strong>
    <% end %>

  <% end %>


  <% @companies.each do |c|%>
    <%= link_to c.name, company_path(c.id)%>
  <% end%>
