<table>
  <th>
    <td><%= link_to "Empregos", new_job_path %> </td>
  </th>

  <th>
    <td><%= link_to "Empresa", new_company_path%></td>
  </th>




</table>


  <% @jobs.each do |j|%>
  <div>
    <div>
      <table border="0">
        <tr>
          <td><h1><%=link_to j.title, job_path(j.id)%></h1></td>
        </tr>
        <tr>
          <td><%=j.company.name%> </td>
        </tr>
        <tr>
          <td><%=j.location%></td>
        </tr>
         <%if j.featured? %>
            <strong><%='Destaque'%></strong>
          <% end %>
      </table>
    </div>
  </div>
  <% end %>


  <% @companies.each do |company|%>
    <%= link_to company.name, company%>
  <% end%>

  <% @categories.each do |ct|%>
    <%= link_to ct.name, category_path(ct.id) %>
  <% end%>
