<h1><%= @company.name %></h1>
<%= @company.location%>
<%= @company.mail%>
<%= @company.phone%>

<%unless @company_jobs.empty?%>
  <% @company_jobs.each do |cj|%>
    <%= cj.title %>
    <%= cj.category %>
  <% end %>
<% else %>
  Nenhuma vaga disponível
<% end %>
