<h1><%= @company.name %></h1>
<%= @company.location%>
<%= @company.mail%>
<%= @company.phone%>

<%unless @company.jobs.empty?%>
  <%= render @company.jobs %>
<% else %>
  Nenhuma vaga disponível
<% end %>
